.CartContainer {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .totalCompra{
    font-size: 30px;
    font-family: "PT Sans Narrow", sans-serif;
  }
  