.ItemDetail{
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(226, 226, 220);
    border: 2px solid black;
    display: flex;
    margin-top: 30px;
    height: auto;
    border-radius: 2em;
}

.ImagenDetail{
    height: 300px;
    width: 300px;
    margin: 20px;
    border-radius: 2em;
}

.tituloDetail{
    text-decoration: underline;
    font-size: 25px;
}

.descripcionDetail{
    height: 100px;
    width: 95%;;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 20px;
}

.precioDetail{
    font-size: 20px;
}

