.Carrito {
    border: 1px solid #3ABFBC;
    border-radius: 1em;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #3ABFBC;
}