.Carrito {
    border-radius: 1em;
    display: flex;
    width: 130%;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
    background-color: #3ABFBC;
}