.NavBar {
    width: 100%;
    height: 20vh;
    border-bottom: 3px solid #3ABFBC;
    display: flex;
    justify-content: space-between;
}

.imagen {
    height: 20vh;
    width: 20%;
}

.imagen img{
    height: 100%;
}

.Nav {
    width: 60%;
    padding-right: 15px;
}

.Nav ul {
    list-style-type: none;
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Nav li {
    float: right;
    font-size: 40px;
    cursor: pointer;
}

.item-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3ABFBC;
    text-shadow: 0 0 4px grey;
    transition: all 1s ease;
    opacity: 1;
}

.item-nav span {
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
    transition: transform 2s ease, opacity 3s ease-out;
    opacity: 0;
}

.item-nav:hover {
    color: #065a59;
    transform: translatex(-7px);
}

.item-nav:hover span{
    color: #065a59;
    transform: translatex(-5px);
    opacity: 1;
}



